<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <p class="h3 fw-bold text-dark"><i class="fa fa-eye">&nbsp;</i>VIEW USER INFORMATION</p>
    </div>
  </div>
</div>

<!-- View User Information -->

<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-sm-3">
      <img src="assets/avatar.png" alt="" class="add-contact-img">
    </div>
    <div class="col-sm-6">
      <ul class="list-group mt-1">
        <li class="list-group-item list-group-item-success">Name: <span class="fw-bold">Md. Soliman Ali</span></li>
      </ul>
      <ul class="list-group mt-1">
        <li class="list-group-item list-group-item-success">Designation: <span class="fw-bold">Software Engnieer in Test
            (QA)</span>
        </li>
      </ul>
      <ul class="list-group mt-1">
        <li class="list-group-item list-group-item-success">Gender: <span class="fw-bold">Male</span></li>
      </ul>
      <ul class="list-group mt-1">
        <li class="list-group-item list-group-item-success">Age: <span class="fw-bold">25</span></li>
      </ul>
      <ul class="list-group mt-1">
        <li class="list-group-item list-group-item-success">Mobile Number: <span class="fw-bold">01706994692</span></li>
      </ul>
      <ul class="list-group mt-1">
        <li class="list-group-item list-group-item-success">Select Blood Group: <span class="fw-bold">A+</span></li>
      </ul>
      <ul class="list-group mt-1">
        <li class="list-group-item list-group-item-success">Email: <span
            class="fw-bold">solimanali.info@gmail.com</span></li>
      </ul>
      <ul class="list-group mt-1">
        <li class="list-group-item list-group-item-success">Till Required Date: <span class="fw-bold"> </span></li>
      </ul>
      <ul class="list-group mt-1">
        <li class="list-group-item list-group-item-success">Address: <span class="fw-bold">Dhaka, Bangladesh</span></li>
      </ul>
    </div>
  </div>
  <div class="row text-center mt-4">
    <div class="col">
      <a routerLink="/" class="btn btn-warning"> <i class="fa fa-arrow-alt-circle-left">&nbsp;</i> Go Back</a>
    </div>
  </div>
</div>
