/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body {
  font-family: 'Fredoka', sans-serif;
  background-color: #DBE8EB !important;
}

.contact-img {
  width: 150px;
  border-radius: 50%;
}

.add-contact-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 50%;
}
